/* ---------- Gloabl settings ---------- */
:root {
    --navHeight: 727px;
}

* {
    box-sizing: border-box;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif; /*font (might need to modify later on)*/

    background: url("_assets/Background_decorateArrow.png") center no-repeat,
                url("_assets/Background_leftside.png") center no-repeat,
                url("_assets/planet.png") center no-repeat,
                url("_assets/Background.png") center no-repeat;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center center, center center, center calc(50% + 45vh), center center;
    background-size: 100vw auto, 100vw auto, 100vw auto, cover;
    background-attachment: scroll, scroll, fixed, scroll;

    padding-top: var(--navHeight);
}

p.limited {
    max-width: 50ch;
    overflow-wrap: break-word;
}


/* ---------- Navigator ---------- */
nav {
    position: absolute;
    top: 0;
    left: calc(50% + 5%);
    width: 399px;
    padding: 170px 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;

    height: var(--navHeight);
}

.NavBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
}

/* buttons */
nav a {
    width: 69%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: transform .3s;
}

    nav a:hover {
        transform: scale(1.05);
    }

    /* button decoration */
    nav a::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("_assets/index_block.png") center / contain no-repeat;
        z-index: -1;
    }


/* ---------- About ---------- */
.about {
    position: absolute;
    top: 0;
    right: calc(50% - 5%);
    margin: 0;

    z-index: 1;
}

    .about .texts {
        margin-left: 9rem;
    }

        .about .texts p + h1 {
            margin-top: 4rem;
        }

    .about a{
        text-decoration: none;
        color: #0079fb;
        font-weight: bold;
    }

/* ---------- project sections style ---------- */
section {
    position: relative;
    min-height: 50vh; /* length of each section */
    padding: 4rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* position of section */
    align-items: center;
    text-align: center;
    color: #fff;
}

/* ---------- project 1 */
#project1 {
    position: relative;
    display: block;
    width:  fit-content;
    margin: 0 auto;
    padding: 0; 
}

#project1 .project_background {
    display: block;
    width:  auto;
    height: auto;
    max-width: 100%;
}

#project1 .title {
    position: absolute;
    top: 27%;
    left: 25%;
    padding: .25em .75em;

    background: url("_assets/project_block.png") center / 100% 100% no-repeat;
    font-size: clamp(1.25rem, 2vw + .5rem, 2.5rem);
    z-index: -1
}

#project2 {
    background: rgba(0,0,0,0);
}

#gallery {
    background: rgba(0,0,0,0);
}

/* button */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    border-radius: 6px;
    background: #ff6f61;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: opacity .25s;
}

    .btn:hover {
        opacity: .8;
    }


/* ---------- screen size adjustment ---------- */
@media (max-width: 768px) {
    #project1 .project_background{
        width: 100%;
    }
}

@media (max-width:600px) {
    nav {
        display: none;
    }

    html {
        font-size: 93.75%; /* 15px */
    }

    body {
        background-size: 100vw auto, 100vw auto, 100% auto, cover; /* arrow, leftside, planet, wallpaper */
        align-items:center;
        padding-top: 0;
    }

    .about{
        position: static;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .about .texts {
        margin: 0;
    }
    .about .texts .limited{
        margin-left: auto;
        margin-right: auto;
    }

    section{
        width: 100%;
    }
}

    @media (max-width:380px) {
        html {
            font-size: 87.5%; /* 14px */
        }
    }